body{
    background-color: rgb(230,230,230);
}
header{
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem 0.2rem rgb(202, 200, 200);
}
header img{
   width: 12rem;
   height: auto;
   padding-top: 1rem;
}
nav{
    padding-bottom: 1rem;
}
nav a{
    display: block;
    text-decoration: none;
    color: blueviolet;
    font-size: xx-large;
    padding: 1rem;
    border-bottom: 1rem;
}
main{
    background-color: white;
    width: 90%;
    min-height: 12rem;
    margin: 0 auto;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem rgb(202, 200, 200);
    border-radius: 0.3rem;
    margin-top: 4%;
    margin-bottom: 2%;
}
main h1,table{
    width: 90%;
    margin: 0 auto;
    color: rgb(59, 56, 56);
    text-align: left;
}
table{
    margin-bottom: 1rem;
    border-collapse: collapse;
}
main h1{
    padding: 1rem;
    color: rgb(75, 72, 72);
}
main table tr,th,td{
    border-bottom: solid 0.02rem rgb(59, 56, 56);
    padding-bottom: 1rem;
    padding-top: 1rem;
}
footer{
    text-align: center;
    padding: 1rem;
}
*{
    color: rgb(75, 72, 72);
}
@media screen and (min-width:768px){
    header{
        display: flex;
        justify-content: space-between;
    }
    header img{
        margin-left: 5%;
    }
    header nav{
        display: flex;
        align-items: flex-end;
        margin-right: 5%;
    }
}

